body {
    margin: 0;
    background-color: #1b1b1b;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-size: 9pt;
    text-transform: uppercase;
    color: #adadad;
}

* {
    box-sizing: border-box
}

.line {
    position: absolute;
    background-color: #c3c5c8;
    margin: auto;
    width: 100%;
    height: 10%;
    filter: blur(100px);
    z-index: -1;
}

.line-top {
    top: 15%;
}

.line-bottom {
    bottom: 15%;
}

/*--------------------NAVBAR SECTION--------------------*/

#stats {
    position: fixed;
    padding: 2% 2% 0;
    width: 100%;
    top: 0;
    left: 0;
}

#stats nav {
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 3%;
    display: flex;
}

.rank {
    align-self: flex-start;
    margin-left: 5px;
    margin-right: auto;
    flex-grow: 1;
    padding-right: 2%;
}

#username {
    text-transform: none;
    color: #dbd098;
    margin-bottom: 1.4em;
    line-height: 0;
}

#user-rank {
    text-transform: none;
    line-height: 0;
}

.avatar-img {
    max-width: 8rem;
}

#xp-progress {
    display: flex;
    flex-direction: column;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    line-height: 0;
    font-size: 0.6rem;
}

progress[value] {
    --color: #adadad;
    --background: #494949;

    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 0.6em;
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

.settings {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2%;
    text-transform: none;
    line-height: 0;
}

.settings div {
    width: 60%;
    background-color: #494949;
    padding: 10%;
    border-radius: 40%;
}

.settings div img {
    width: 100%;
    transition: transform .2s;
}

.settings div img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*--------------------CONTENT SECTION--------------------*/

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    margin: 10rem 2% 9rem;
    padding-bottom: 10%;
    border-radius: 15px;
}

#content h1 {
    font-weight: 700;
    font-size: 2.1rem;
    margin: 5% auto 2%;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chad-image {
    width: 60%;
    border-radius: 30px;
    border: 3px solid #c2c4c7;
    padding: 1%;
    margin: 0 5%;
}

.arrow {
    width: 8%;
    transition: transform .2s;
}

.arrow:hover {
    cursor: pointer;
    transform: scale(1.2);
}

/*--------------------FOOTER SECTION--------------------*/

#footer {
    position: fixed;
    padding: 0 2% 2%;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer {
    text-transform: none;
    border-radius: 15px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #2a2a2a;
}

.footer-item img {
    width: 3.5rem;
    height: 3.5rem;
}

.footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selected {
    text-transform: uppercase;
    color: #dbd098;
}

.selected img {
    width: 4rem;
    height: 4rem;
}